.tablemanager-control > .tm-extracolumns {
  display: inline-block;
  margin-left: 1em;
}

.tablemanager-control > .tm-extracolumns > div {
  display: inline-block;
}

.tablemanager-control > .tm-extracolumns > .tm-hiddencols > div {
  display: inline-block;
  padding: 0.2em;
  margin: 0 0.2em;
  border: 1px solid #333;
  cursor: move !important;
}

.tablemanager-control > .tm-extracolumns > .tm-hiddencols a {
    pointer-events: none;
}

.tm-hiddencols > div a, .tm-state-move {
  cursor: move !important;
}

.tablemanager-moveindicator {
  position: absolute;
  border: 1px solid #f00;
  transition: left 0.5s;
}

.tm-hiddencols-tip {
    display: inline-block;
}

