.tablemanager-control > div.btn {
  display: inline-block;
  background: linear-gradient(to bottom,#444 35%,#333 65%);
  color: #fff;
  border-radius: 10px;
  padding: 0.5em 0.8em;
  margin: 0 0.2em;
  cursor: pointer;
}

.tablemanager-control > .tm-extracolumns, .tablemanager-control > .tm-extracolumns-tip {
  display: inline-block;
  margin-left: 1em;
}

.tablemanager-control > .tm-extracolumns > div {
  display: inline-block;
}

.tablemanager-control > .tm-extracolumns > .tm-hiddencols > div {
  display: inline-block;
  padding: 0.2em;
  margin: 0 0.2em;
  border: 1px solid #333;
  cursor: move !important;
}

.tm-hiddencols > div a, .tm-state-move {
  cursor: move !important;
}

.tablemanager-tip {
  position: absolute;
  width: 80%;
  border: 2px solid #333;
  border-radius: 20px;
  background-color: #f8ffaa;
  padding: 1em;
  text-align: center;
}

.tablemanager-moveindicator {
  position: absolute;
  border: 1px solid #f00;
  transition: left 0.5s;
}

