.imageswitch_state_loading {
	background:url(http://images2.wikia.nocookie.net/__cb20090819194233/es.pokemon/images/a/a0/Throbber.gif) center no-repeat;
}
 
.imageswitch_state_loading img { visibility:hidden; }
 
a.imageswitch_current {
	font-weight:bold;
	color:#001499;
	text-decoration:none;
	background:none;
}
 
span.imageswitch_imagecontainer { display:block; }

